<% content_for(:title, "Choisir une ligne") %>
<% content_for(:body_class, "with-search") %>

<%= render "searches/search" %>

<ul class="list-group">
  <% @lines.each do |line| %>
   <li class="list-group-item d-flex align-items-baseline">
      <div class="circle-transport-type <%= 'long-code' if line.long_code? %>" style="background-color:#<%= line.background %>;"><%= line.code %></div>&nbsp;
      <%= line.name %>
      <%= link_to "", line_path(line), class: "list-item-link" %>
    </li>
  <% end %>
</ul>


<div id="map-wrapper" class="map-wrapper d-none"></div>

<%= render 'shared/button-map' %>


