<ul class="list-group">
  <% @lines.each do |line| %>
   <li class="list-group-item">
      <div class="row">
        <div class="circle-transport-type text-center" style="background-color:#<%= line.background %>;"><%= line.code %></div>&nbsp;
        <%= line.kind %> -
        <%= line.name %>
        <%= link_to "", line_path(line), class: "list-item-link" %>
      </div>
    </li>
  <% end %>
</ul>
