<% content_for(:title, "Trouver un arrêt") %>

<ul class="list-group">
  <% @lines.each do |line| %>
   <li class="list-group-item d-flex align-items-baseline">
      <div class="circle-transport-type <%= 'long-code' if line.long_code? %>" style="background-color:#<%= line.background %>;"><%= line.code %></div>&nbsp;
      <%= line.name %>
      <%= link_to "", line_path(line), class: "list-item-link" %>
    </li>
  <% end %>
</ul>


<a href="#" id="show-map">MAP</a>


<div id="map-wrapper"></div>
