<% content_for(:body_class, "with-search") %>

<% content_for(:title) do %>
  <div class="stop-and-direction">
    <div class="circle-transport-type <%= 'long-code' if @line.long_code? %>" style="background-color:#<%= @line.background %>;">
      <%= @line.code %>
    </div>
     <div>
      <h3 class="direction-line"><%= @line.name %></h3>
      <h3 class="direction"><span>Choisir la direction</span></h3>
    </div>
  </div>
<% end %>

<%= render "searches/search" %>

<div id="destinations">

  <% @line.directions.each do |direction| %>
    <div class="accordion-header">
      <a class="accordion-link" data-toggle="collapse" href="#direction-<%= direction.id %>">
        <%= inline_svg('direction.svg') %>
        <span class="direction">
          <%= direction.name %>
        </span>
      </a>
    </div>

    <div class="collapse p-3" id="direction-<%= direction.id %>" data-parent="#destinations">
      <style>
          .stops a:after, .stops a:before {
            background: #<%= @line.background %>;
          }
        </style>
        <ul class="stops">
          <% direction.stops.reverse.each do |stop| %>
            <li>
              <%= link_to stop.name, stop_path(stop) %>
            </li>
          <% end %>
        </ul>
    </div>
  <% end %>

</div>




