<% content_for(:title) do %>
  <div class="stop-and-direction">
    <div class="circle-transport-type <%= 'long-code' if @line.long_code? %>" style="background-color:#<%= @line.background %>;">
      <%= @line.code %>
    </div>
     <div>
      <h3 class="direction-line"><%= @line.name %></h3>
      <h3 class="direction"><span>Choisir la direction</span></h3>
    </div>
  </div>
<% end %>

<div class="accordion" id="accordionExample">
  <% @line.directions.each do |direction| %>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">


          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ic_keyboard_arrow_down_24px</title>
            <g class="nc-icon-wrapper" stroke="none" fill="#111111">
              <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
            </g>
              </svg>


              <button class="btn btn-link direction-text" type="button" data-toggle="collapse" data-target="#direction-<%= direction.id %>">
              <span class="direction">  <%= direction.name %> </span>
          </button>
        </h2>
      </div>

      <div id="direction-<%= direction.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <style>
            .stops a:after, .stops a:before {
              background: #<%= @line.background %>;
            }
          </style>
          <ul class="stops">
            <% direction.stops.reverse.each do |stop| %>
             <li>
              <%= link_to stop.name, stop_path(stop) %>
             </li>
           <% end %>
         </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>


