<% content_for(:title, "Se créer un compte") %>

<div class="sign-up-form-container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs form-inputs-sign-up">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: 'Mot de passe',
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: 'Confirmation du mot de passe',
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions form-actions-sign-up">
      <button type="button" class="btn btn-dark">
        <%= f.button :submit, "Créer un compte" %>
      </button>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

