<div id="favorite-<%= favorite.id %>" class="stop-and-direction">
  <div class="circle-transport-type <%= 'long-code' if favorite.stop.direction.line.long_code? %>" style="background-color:#<%= favorite.stop.direction.line.background %>;"><%= favorite.stop.direction.line.code %></div>
  <div>
    <h3 class="stop"><%= favorite.stop.name %></h3>
    <h3 class="direction"><%= favorite.stop.direction.name %></h3>
  </div>

  <%= link_to "", stop_path(favorite.stop), class: "slat-link" %>
</div>

