<% content_for(:title) do %>
  <div class="circle-transport-type mr-1 ml-3 <%= 'long-code' if @stop.direction.line.long_code? %>" style="background-color:#<%= @stop.direction.line.background %>;">
    <%= @stop.direction.line.code %>
  </div>
  <span class="stop-name">
    <strong><%= @stop.direction.line.name %></strong> <br>
    <small id="stop-destination"><%= @stop.direction.name %></small>
  </span>
<% end %>

<% content_for(:action) do %>
  <div id="fav">
    <%= render "favorites/actions", stop: @stop %>
  </div>
<% end %>

<div id="stop" class="flex-grow-1 d-flex" data-stop-id="<%= @stop.tbm_stop_id %>" data-line-code="<%= @stop.code %>">


  <div id="main-passage" class="d-flex flex-column align-items-center justify-content-center flex-grow-1">

    <div class="next-passages-top">
      PROCHAIN PASSAGE
    </div>

    <div class="countdown big-timer"></div>

    <div class="destination">
      <p class="next-passages mb-3"><%= @stop.name %></p>
    </div>
  </div>
</div>

<div class="d-flex flex-column next-time-passage p-4" >
  <span class="next-passage-footer pb-3"> PASSAGES SUIVANTS </span>
  <div id="next-passages"></div>
</div>


<script>
  setTimeout(function() { window.scrollTo(0, 1) }, 100);
</script>




