
<div id="stop"  data-stop-id="<%= @stop.tbm_stop_id %>" data-line-code="<%= @stop.code %>"></div>

<div id="main-passage" class="d-flex flex-column justify-content-between align-items-center">
    <div><span class="next-time-passage"> Prochain passage </span>
      <div class="countdown big-timer"></div>
    </div>
  <div class="destination">
    <p class="next-passages mb-3">Direction : <%= @stop.direction.name %></p>
  </div>
</div>


<div class="text-center">
  <div id="fav">
    <% if current_user.favorited?(@stop) %>
      <%= link_to "Delete Fav", favorite_path(current_user.favorite(@stop)), method: :delete, class: 'btn btn-danger', remote: true %>
    <% else %>
      <%= link_to "Add Fav", stop_favorites_path(@stop.id), method: :post, class: 'btn btn-info', remote: true %>
    <% end %>
  </div>
</div>

<div class="d-flex flex-column next-time-passage p-3" >

  <span class="next-passage-footer pb-3"> PASSAGES SUIVANTS </span>
  <div id="next-passages"></div>

</div>






