<h1><%= @stop.name %></h1>
<p><%= @stop.tbm_id %></p>
<p>Direction : <%= @stop.direction.name %></p>
<p>Transport : <%= @stop.direction.line.name %></p>
<p>Code Transport : <%= @stop.direction.line.code %></p>

<div id="stop" data-stop-id="<%= @stop.tbm_stop_id %>" data-line-code="<%= @stop.code %>"></div>

<div id="main-passage">
  <div class="countdown"></div>
  <div class="destination"></div>
</div>


<div id="next-passages"></div>
