<section class="flyout flyout-closed">
  <header class="flyout-header">
    <div class="d-flex justify-content-between">
      <a class="flyout-close icon-link" href="#">
          <%= image_tag("burger-menu.svg")  %>
      </a>
    </div>

    <div class="flyout-header-content">
      <% if current_or_guest_user.guest? %>
        <span>Bienvenue sur Catch-Me</span>
      <% else %>
        <%= current_user.email %>
      <% end %>
    </div>

  </header>

  <div class="flyout-links">

    <%= link_to "Trouver un arrêt", lines_path %>

    <%# if current_or_guest_user.has_favorites? %>
      <h3 class="label">
        Mes arrêts favoris
      </h3>
      <div id="favorites-stop">
        <% current_or_guest_user.favorites.each do |favorite| %>
          <%= render "favorites/favorite", favorite: favorite %>
        <% end %>
      </div>
    <%# end %>

    <% if current_or_guest_user.guest? %>
      <%= link_to "Se connecter / créer un compte", new_user_registration_path %>
    <% else %>
      <%= link_to "Se déconnecter",  destroy_user_session_path, method: :delete %>
    <% end %>


  </div>

  <div class="flyout-shadow flyout-close"></div>
</section>



