<div class="log-in-form-container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs form-inputs-log-in">
      <h2>Log in</h2>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions form-actions-log-in">
      <button type="button" class="btn btn-primary button-log-in">
        <%= f.button :submit, "Log in" %>
      </button>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
